<a href="https://colab.research.google.com/github/chandanams-stack/TNSIF_AIML_DBIT/blob/main/Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tup1=('ram',1,1997)
print(tup1)

('ram', 1, 1997)

In [ ]:
tup=(3,)
print(tup)

(3,)

In [ ]:
tup=(3)
print(tup)

3

In [ ]:
tup=(3)
print(type(tup))

<class 'int'>

In [ ]:
tup=(3,)
print(type(tup))

<class 'tuple'>

In [ ]:
tup=()
print(tup)#tuple cant be have only comma

()

In [ ]:
#tuple will take list into an argument
tup=tuple([1,2,3])
print(tup)

(1, 2, 3)

In [ ]:
#tuple insertion by using add,sub ....
t=(1,2,3,4)
t=t+(5,6,7,8)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
t=(1,2,3,4)
print(t)

(1, 2, 3, 4)

In [ ]:
t=(1,2,3,4)
t=t+(5,6,7,8,)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
t=(1,2,3,4)
t=(5,6,7,8)
print(t)

(5, 6, 7, 8)

In [ ]:
t=(1,2,3,4)
t=t+(5,6,7,8)
t+(10,)#doesnt add anything
print(t)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
n = int(input("Enter the number of employees: "))
salaries = []
for i in range(n):
    salary = float(input(f"Enter salary of employee {i+1}: "))
    salaries.append(salary)
min_salary = min(salaries)
max_salary = max(salaries)
print(f"\nMinimum Salary: {min_salary}")
print(f"Maximum Salary: {max_salary}")

Enter the number of employees: 5
Enter salary of employee 1: 10000
Enter salary of employee 2: 80000
Enter salary of employee 3: 50000
Enter salary of employee 4: 100000
Enter salary of employee 5: 20000

Minimum Salary: 10000.0
Maximum Salary: 100000.0

In [ ]:
t=tuple()
t=t+('PYTHON',)
print(t)
print(len(t))
t1=(10,20,30)
t2=t1+t
print(len(t2))
t3=t1*2
print(t3)

('PYTHON',)
1
4
(10, 20, 30, 10, 20, 30)

In [ ]:
employees = {}
n = int(input("Enter the number of employees: "))
for i in range(n):
    name = input(f"Enter name of employee {i+1}: ")
    number = input(f"Enter employee number of {name}: ")
    employees[name] = number
print("\nEmployee Details:")
for name, number in employees.items():
    print(f"Name: {name}, Number: {number}")

Enter the number of employees: 2
Enter name of employee 1: uma
Enter employee number of uma: v18
Enter name of employee 2: bharath
Enter employee number of bharath: v269

Employee Details:
Name: uma, Number: v18
Name: bharath, Number: v269